.employees {
  &-grid {
    @extend .table, .table-striped, .table-hover;

    thead th.sortable {
      button,
      button:active,
      button:focus {
        outline: none;
        background: none;
        border: none;
        padding: 0;
        transition: .3s color;

        &:hover {
          color: $brand-info;
        }

        .sort-caret {
          margin-left: 10px;
        }
      }

      &.ascending {
        button .sort-caret {
          @extend .glyphicon, .glyphicon-chevron-down;
        }
      }

      &.descending {
        button .sort-caret {
          @extend .glyphicon, .glyphicon-chevron-up;
        }
      }

    }

    tbody {
      tr {
        td {
          vertical-align: middle;
        }
      }
      button.edit-item {
        @extend .btn, .btn-link;
        float: right;

        &, &:hover, &:focus, &:active {
          outline: none;
        }
      }
    }
  }

  &-search {
    width: 100%;
    position: relative;

    span.search {
      display: none;
    }

    input {
      @extend .form-control;
      padding-right: 15px;
    }

    a.clear {
      position: absolute;
      right: 5px;
      top: 8px;
    }
  }
}